$color-map: (
    primary-green: #7CCCBF,
    secondary-green: #00414A,
    text-black : black,
    text-gray: #808080,
    accent-primary: #00A99D,
    background-gray: #F2F2F2,
    accent-light:  #7CCCBF,
    divider-gray: #DCDDDE
)