<!-- <h1 data-heading="l">Welcome</h1> -->

<div class="loader-container" *ngIf = "!isShowLogin">
    <div class='loading'>
    <div class='loading__square'></div>
    <div class='loading__square'></div>
    <div class='loading__square'></div>
    <div class='loading__square'></div>
    <div class='loading__square'></div>
    <div class='loading__square'></div>
    <div class='loading__square'></div>
  </div>
  <h4 class = "text-center mt-5">Retrieving profile ...</h4>
</div>



<app-login *ngIf="isShowLogin"></app-login>