$headerHeight:65px;
$grayText:rgba(92, 88, 88, 0.7);
$mainCardFS:14px;

.main-card-header{
  padding:70px 120px 30px 120px;
}

.main-card-text>mat-icon, .main-card-text>div{
  vertical-align:middle;
  color:$grayText;
}

.main-card-text>div, .main-card-label {
  font-size:$mainCardFS;
}
.main-card-text>mat-icon{
  font-size:18px;
}
.side-card-text{
  font-size:$mainCardFS;
}

:host /deep/ .mat-select-value {
  
  color:rgba(0, 183, 255, 0.904) !important;
}


.main-avatar {
  display:block; 
  width:140px;
  height:140px
}

.container-wrapper {
  display: flex;
}
.container-wrapper {
  height:100%;
}
.main-card-container, .main-card{
  min-height: 100%;
}

.row-wrapper{
  padding:0;
  font-size:$mainCardFS;
}

@media(max-width:1579px) and (min-width:1280px){
  .row-wrapper{
    padding:0 10px;
  }
}

@media(min-width:1580px){
  .row-wrapper{
    padding:0 120px;
  }
}

.side-card-container {
  flex: 1 2 200px;
 
}

.side-card-wrapper {
  display: block;
  max-height:100%;
  overflow: auto;
  min-width: 400px;
  min-height: 500px;
 
}

.main-card-container {
  flex: 4 1 500px;
  max-height:99%;
  overflow:auto;
 
}

.side-card{
  border-top:1px solid rgba(0,0,0,0.1);
  border-bottom:1px solid rgba(0,0,0, 0.1);
  box-shadow:none !important;
  background-color:rgba(0,0,0,0.05);

  &:hover{
     background-color: #FFF;
  }
}

.side-card-selected{
  box-shadow: none !important;
  background-color:#fff;
  &::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-color: transparent;
    border-style: solid;
  }
  &::after{
    border-radius: 0;
    border-width: 10px;
    border-right-color: rgb(14, 173, 139);
    border-bottom-color: rgb(14, 173, 139);
  }
}




@keyframes rotateInDownLeft {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  to {
    transform: rotate3d(0, 0, 1, 90deg);
    opacity: 1;
  }
}

.rotate-down {
  animation: 0.5s 0s rotateInDownLeft;
  animation-fill-mode: forwards;
}

@keyframes rotateInUpRight {
  from {
    transform: rotate3d(0, 0, 1, 90deg);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.rotate-up {
  animation: 0.5s 0s rotateInUpRight;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    display: inherit;
  }

  to {
    opacity: 0;
    display: none;
  }
}

.fade-out {
  animation: 2s 0s fadeOut;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation: 2s 0s fadeIn;
  animation-fill-mode: forwards;
}

@keyframes rotate45CW {
  from {
    transform: rotate3d(0, 0, 0);
  }
  to {
    transform: rotate3d(0, 0, 1, 45deg);
  }
}

@keyframes rotate45ACW {
  from {
    transform: rotate3d(0, 0, 1, 45deg);
  }
  to {
    transform: rotate3d(0, 0, 0);
  }
}

.rotate-45-cw {
  animation: 0.2s 0s rotate45CW;
  animation-fill-mode: forwards;
}

.rotate-45-acw {
  animation: 0.2s 0s rotate45ACW;
  animation-fill-mode: forwards;
}

mat-list-item:hover {
  background-color: rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.filter-list-icon {
  opacity: 0;
}

.hover-show {
  &:hover .filter-list-icon {
    opacity: 1;
  }
}


@keyframes flipOutY {
  from {
    transform: perspective(400px);
  }

  30% {
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1;
  }

  to {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0;
  }
}

.flip-out-y {
  animation-duration: 0.75s;
  backface-visibility: visible !important;
  animation-name: flipOutY;
  animation-fill-mode: forwards;
}

@keyframes flipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

.flip-in-y {
  backface-visibility: visible !important;
  animation-name: flipInY;
  animation-fill-mode: forwards;
}