<div class="container-wrapper">


  <div class="side-card-container">
    <div class="custom-side-toolbar">
      <button mat-icon-button (click)="toggleSideNav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <mat-tab-group>
      <mat-tab label="Pending (12)" class="side-card-wrapper">
        <!-- <ng-template mat-tab-label>
          <mat-icon>security</mat-icon> (112)
        </ng-template> -->


        <div class="side-card-wrapper" style="cursor:pointer;">
          <mat-spinner class="spinner-container" *ngIf="isLoading"></mat-spinner>
          <mat-card *ngFor="let person of applicantsData" (click)="onClickSideCard(person)" [ngClass]="{'side-card-selected':person.selected, 'side-card':!person.selected}">

            <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="space-around space-around" fxLayoutGap="0px" fxLayoutGap.xs="0">
              <div fxFlex="15%" fxFlexAlign="center">
                <img mat-card-avatar src="../../assets/images/generic-w-90.jpg" alt="Avatar Photo">
              </div>
              <div fxFlex="50%" fxFlexAlign="stretch">
                <h6> {{person.name}}</h6>
                <div fxLayout fxLayoutAlign="start start" class="mt-1">
                  <mat-icon class="text-gray side-card-icon" fxFlex="15%">person</mat-icon> &nbsp;
                  <div class="text-gray side-card-text" fxFlex>UI / UX</div>
                </div>
                <div fxLayout fxLayoutAlign="start start">
                  <mat-icon class="text-gray side-card-icon" fxFlex="15%">date_range</mat-icon> &nbsp;
                  <div class="text-gray side-card-text" fxFlex>22/02/2018</div>
                </div>
              </div>

              <div class="spacer"></div>

              <div fxFlex="30%" fxFlexAlign="center" fxLayout fxLayoutAlign="space-around" fxLayoutGap="10px">
                <div class="scard-stat" fxFlexAlign="center" [ngClass]="getStatusClass('bullet', person.statusCode)"></div>
                <div fxFlex fxFlexAlign="center" [ngClass]="getStatusClass('text', person.statusCode)">{{person.statusDesc}}</div>
              </div>
            </div>
          </mat-card>
        </div>


      </mat-tab>
      <mat-tab label="Accepted (54)">

        <div class="side-card-wrapper" style="cursor:pointer">
          <mat-spinner class="spinner-container" *ngIf="isLoading"></mat-spinner>
          <mat-card *ngFor="let person of applicantsData" (click)="onClickSideCard(person)" [ngClass]="{'side-card-selected':person.selected, 'side-card':!person.selected}">

            <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="space-around space-around" fxLayoutGap="0px" fxLayoutGap.xs="0">
              <div fxFlex="20%" fxFlexAlign="center">
                <img mat-card-avatar src="../../assets/images/generic-w-90.jpg" alt="Avatar Photo">
              </div>
              <div fxFlex="50%" fxFlexAlign="stretch">
                <h6> {{person.name}}</h6>
                <div fxLayout fxLayoutAlign="start start" class="mt-1">
                  <mat-icon class="text-gray side-card-icon" fxFlex="15%">person</mat-icon> &nbsp;
                  <div class="text-gray side-card-text" fxFlex>UI / UX</div>
                </div>
                <div fxLayout fxLayoutAlign="start start">
                  <mat-icon class="text-gray side-card-icon" fxFlex="15%">date_range</mat-icon> &nbsp;
                  <div class="text-gray side-card-text" fxFlex>22/02/2018</div>
                </div>
              </div>

              <div class="spacer"></div>

              <div fxFlex fxFlexAlign="center">
                Accepted
              </div>
            </div>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Rejected (46)">

        <div class="side-card-wrapper" style="cursor:pointer">
          <mat-spinner class="spinner-container" *ngIf="isLoading"></mat-spinner>
          <mat-card *ngFor="let person of applicantsData" (click)="onClickSideCard(person)" [ngClass]="{'side-card-selected':person.selected, 'side-card':!person.selected}">

            <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="space-around space-around" fxLayoutGap="0px" fxLayoutGap.xs="0">
              <div fxFlex="20%" fxFlexAlign="center">
                <img mat-card-avatar src="../../assets/images/generic-w-90.jpg" alt="Avatar Photo">
              </div>
              <div fxFlex="50%" fxFlexAlign="stretch">
                <h6> {{person.name}}</h6>
                <div fxLayout fxLayoutAlign="start start" class="mt-1">
                  <mat-icon class="text-gray side-card-icon" fxFlex="15%">person</mat-icon> &nbsp;
                  <div class="text-gray side-card-text" fxFlex>UI / UX</div>
                </div>
                <div fxLayout fxLayoutAlign="start start">
                  <mat-icon class="text-gray side-card-icon" fxFlex="15%">date_range</mat-icon> &nbsp;
                  <div class="text-gray side-card-text" fxFlex>22/02/2018</div>
                </div>
              </div>

              <div class="spacer"></div>

              <div fxFlex fxFlexAlign="center">
                Rejected
              </div>
            </div>
          </mat-card>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>




  <div class="main-card-container" fxHide.lt-md fxShow>

    <app-filter [hidden]="!showFilter"></app-filter>


    <mat-card class="main-card p-0" *ngIf="!showFilter" [ngClass]="{'flip-out-y': showFilter}">
      <div class="custom-toolbar"></div>
      <div class="main-card-header" fxLayout fxLayoutAlign="start stretch"  fxLayout.md="column" fxLayout.sm="column"
        fxLayout.xs="column">
        <div fxFlex="20%" fxFlexAlign="center" class="mr-3" fxFlex.md="100%" fxFlex.sm="100%">
          <img class="main-avatar img-circle" src="../../assets/images/generic-w-180.jpg" alt="Avatar Photo">
        </div>
        <div fxFlex="35%" fxFlexAlign="center" class="mt-2">
          <h5>
            <b>{{selectedApplicant.name}}</b>
          </h5>
          <div fxLayout fxLayoutAlign="start start" class="mt-3 main-card-text">
            <mat-icon fxFlex="15%" fxFlex.md="20%" fxFlex.lg="7%" class="mr-2">phone</mat-icon> &nbsp;
            <div fxFlex>{{selectedApplicant.mobile}}</div>
          </div>
          <div fxLayout fxLayoutAlign="start start" class="mt-3 main-card-text">
            <mat-icon fxFlex="15%" fxFlex.md="20%" fxFlex.lg="7%" class="mr-2">email</mat-icon> &nbsp;
            <div fxFlex>{{selectedApplicant.email}}</div>
          </div>
          <div fxLayout fxLayoutAlign="start start" class="mt-3 main-card-text">
            <mat-icon fxFlex="15%" fxFlex.md="20%" fxFlex.lg="7%" class="mr-2">language</mat-icon> &nbsp;
            <div fxFlex>Malaysian</div>
          </div>
        </div>

        <div fxFlex="35%" fxFlexAlign="center" class="mt-2">
          <div class="main-card-label">Status</div>
          <div>
            <mat-form-field>
              <mat-select [(value)]="selectedStatus">
                <mat-option [value]="status.key" *ngFor="let status of statusList">{{status.value}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="50px">
            <button mat-mini-fab class="ml-4 bg-gray">
              <mat-icon>description</mat-icon>
            </button>
            <button mat-mini-fab class="bg-gray">
              <mat-icon>mode_edit</mat-icon>
            </button>
          </div>

        </div>
      </div>

      <mat-card-content>

        <div class="content-wrapper">

          <div class="row-wrapper bt-gray" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column">
            <div fxFlex="50%" fxLayout="column" fxLayoutAlign="start stretch" class="py-2" [ngClass.lg]="{'br-gray px-4':true}" [ngClass.lt-lg]="{'px-5':true}">
              <div fxLayout="row" class="py-2">
                <p fxFlex="40%">Primary Skills</p>
                <span fxFlex="5%">:</span>
                <p fxFlex="50%">
                  UI / UX
                </p>
              </div>
              <div fxLayout="row" class="py-2">
                <p fxFlex="40%">Secondary Skills</p>
                <span fxFlex="5%">:</span>
                <p fxFlex="50%">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, assumenda eaque consequuntur ratione
              </div>

              <div fxLayout="row" class="py-2">
                <p fxFlex="40%">Years of Experience</p>
                <span fxFlex="5%">:</span>
                <p fxFlex="50%">
                  2
              </div>
            </div>
            <div fxFlex="50%" class="py-2 pr-4" fxLayout="column" fxLayoutAlign="start stretch" [ngClass.lt-lg]="{'bt-gray px-5':true}"
              [ngClass.lg]="{'pl-4':true}">
              <div fxLayout="row" class="py-2">
                <p fxFlex="40%">Channel</p>
                <span fxFlex="5%">:</span>
                <p fxFlex="50%">
                  Agent
              </div>
              <div fxLayout="row" class="py-2">
                <p fxFlex="40%">Recruiter</p>
                <span fxFlex="5%">:</span>
                <p fxFlex="50%">
                  Tan Meng Meng
              </div>
            </div>

          </div>

          <div class="row-wrapper bt-gray" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column">
            <div fxFlex="50%" fxLayout="column" fxLayoutAlign="start stretch" class="pr-4 py-2" [ngClass.lg]="{'br-gray px-4':true}"
              [ngClass.lt-lg]="{'px-5':true}" [ngClass.gt-lg]="{'pr-4':true}">
              <div fxLayout="row" class="py-2">
                <p fxFlex="40%">Company</p>
                <span fxFlex="5%">:</span>
                <p fxFlex="50%">
                  Maxis
                </p>
              </div>
              <div fxLayout="row" class="py-2">
                <p fxFlex="40%">Remuneration</p>
                <span fxFlex="5%">:</span>
                <p fxFlex="50%">
                  Lorem, ipsum dol
              </div>

              <div fxLayout="row" class="py-2">
                <p fxFlex="40%">Benefits</p>
                <span fxFlex="5%">:</span>
                <p fxFlex="50%">
                  /
              </div>

              <div fxLayout="row" class="py-2">
                <p fxFlex="40%">Reason for Leaving</p>
                <span fxFlex="5%">:</span>
                <p fxFlex="50%">
                  Explore new opportunity
              </div>
            </div>
            <div fxFlex="50%" class="py-2 pr-4" fxLayout="column" fxLayoutAlign="start stretch" [ngClass.lt-lg]="{'bt-gray px-5':true}"
              [ngClass.lg]="{'pl-4':true}">
              <div fxLayout="row" class="py-2">
                <p fxFlex="40%">University</p>
                <span fxFlex="5%">:</span>
                <p fxFlex="50%">
                  London School of Design and Marketing
              </div>
              <div fxLayout="row" class="py-2">
                <p fxFlex="40%">Studies</p>
                <span fxFlex="5%">:</span>
                <p fxFlex="50%">
                  Design MA
              </div>
            </div>
          </div>


          <div class="row-wrapper bt-gray" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column">
            <div fxFlex="50%" fxLayout="column" fxLayoutAlign="start stretch" class="pr-4 py-2" [ngClass.lg]="{'px-4':true}" [ngClass.lt-lg]="{'px-5':true}"
              [ngClass.gt-lg]="{'pr-4':true}">
              <div fxLayout="row" class="py-2">
                <p fxFlex="40%">Expected Salary</p>
                <span fxFlex="5%">:</span>
                <p fxFlex="50%">
                  3700
                </p>
              </div>
              <div fxLayout="row" class="py-2">
                <p fxFlex="40%">Follow Up Date</p>
                <span fxFlex="5%">:</span>
                <p fxFlex="50%">
                  /
              </div>

            </div>
            <div fxFlex="50%" class="py-2 pr-4" fxLayout="column" fxLayoutAlign="start stretch" [ngClass.lt-lg]="{'px-5':true}" [ngClass.lg]="{'pl-4':true}">
              <div fxLayout="row" class="py-2">
                <p fxFlex="40%">Rejection Reason</p>
                <span fxFlex="5%">:</span>
                <p fxFlex="50%">
                  /
              </div>
              <div fxLayout="row" class="py-2">
                <p fxFlex="40%">Remark</p>
                <span fxFlex="5%">:</span>
                <p fxFlex="50%">
                  /
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>

    </mat-card>
  </div>

  <!-- <button mat-fab style="position:fixed; bottom:30px; right:30px" (click)="toggleFilter()" [ngClass]="{'rotate-down':showFilter, 'rotate-up':!showFilter}">
    <i class="fa fa-filter fa-normal-size" aria-hidden="true" [ngClass]="{'fade-out':showFilter}" [hidden]="showFilter"></i>
    <mat-icon [ngClass]="{'fade-in':!showFilter}" [hidden]="!showFilter">close</mat-icon>
  </button> -->
</div>