$headerHeight:64px;
$grayText:rgba(92, 88, 88, 0.7);
$mainCardFS:0.9rem;
$iconFS:20px;
$statusScheduled:rgba(0, 183, 255, 0.904);
$leftHeaderZI:2;
$rightHeaderZI:3;
$tabOffset:30px;

.custom-side-toolbar{
  height:$headerHeight;
  width:100%;
  position:fixed;
  top:0;
  z-index:$leftHeaderZI;
  display: block;
  background:rgba(105, 221, 202, 0.959);

  &+mat-tab-group{
    padding-top:$headerHeight;
    display: block;
    max-height:100%;
    min-width: 300px;
  }
}

.main-card-header{
  padding:134px 120px 30px 120px; //70px 120px 30px 120px
}

@media(max-width:1420px){
  .main-card-header{
    padding:134px 10px 30px 40px;
  }
  
}

.main-card-text>mat-icon, .main-card-text>div{
  vertical-align:middle;
  color:$grayText;
}

.main-card-text>div, .main-card-label {
  font-size:$mainCardFS;
}
.main-card-text>mat-icon, .side-card-icon{
  font-size:$iconFS;
}
.side-card-text{
  font-size:$mainCardFS;
}

:host /deep/ .mat-select-value {
  
  color:rgba(0, 183, 255, 0.904) !important;
}

:host /deep/ .mat-tab-body-wrapper, mat-tab-group{
  height:calc(100% - #{$tabOffset});
}

mat-card{
  margin-bottom:0
}

.main-avatar {
  display:block; 
  width:140px;
  height:140px;
  //margin:auto;
}

.container-wrapper {
  display: flex;
}
.container-wrapper {
  height:100%;
}
.main-card-container, .main-card{
  min-height: 100%;
}

// .main-card{
//   margin-top:$headerHeight;
// }

.custom-toolbar{
  height:$headerHeight;
  background:rgb(4, 68, 93);
  top:0;
  position:fixed;
  width:100%;
  z-index:$rightHeaderZI;
}

.row-wrapper{
  padding:0;
  font-size:$mainCardFS;
}

@media(max-width:1579px) and (min-width:1280px){
  .row-wrapper{
    padding:0 10px;
  }
}

@media(min-width:1580px){
  .row-wrapper{
    padding:0 120px 0 100px;
  }
}

.side-card-container {
  flex: 1 1 auto;
  max-width: 100%;
}

.side-card-wrapper {
  display: block;
  max-height:100%;
  overflow: auto;
  min-width: 300px;
  min-height: 500px;

  &>mat-card{
    padding:18px 24px;
  }
 
}

.main-card-container {
  // flex: 4 1 500px;
  max-height:100%;
  overflow:auto;
 
}

.side-card{
  border-top:1px solid rgba(0,0,0,0.1);
  border-bottom:1px solid rgba(0,0,0, 0.1);
  box-shadow:none !important;
  background-color:rgba(0,0,0,0.05);

  &:hover{
     background-color: #FFF;
  }
}

.side-card-selected{
  box-shadow: none !important;
  background-color:#fff;
  &::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-color: transparent;
    border-style: solid;
  }
  &::after{
    border-radius: 0;
    border-width: 15px;
    border-right-color: #7CCCBF;
    border-bottom-color: #7CCCBF;
  }
}


$status: (
   scheduled: #00AEEF,
   onhold: #F7941D,
   shortlisted: #39B54A,
);
.scard-stat{
  width: 10px;
	height: 10px;
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
  border-radius: 5px;
  
  @each $name, $color in $status{
    &--#{$name}{
      background:$color;
    }
  }
}
@each $name, $color in $status{
  .stat-text--#{$name}{
    color:$color !important;
  }
}





@keyframes rotateInDownLeft {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  to {
    transform: rotate3d(0, 0, 1, 90deg);
    opacity: 1;
  }
}

.rotate-down {
  animation: 0.5s 0s rotateInDownLeft;
  animation-fill-mode: forwards;
}

@keyframes rotateInUpRight {
  from {
    transform: rotate3d(0, 0, 1, 90deg);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.rotate-up {
  animation: 0.5s 0s rotateInUpRight;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    display: inherit;
  }

  to {
    opacity: 0;
    display: none;
  }
}

.fade-out {
  animation: 2s 0s fadeOut;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation: 2s 0s fadeIn;
  animation-fill-mode: forwards;
}

@keyframes rotate45CW {
  from {
    transform: rotate3d(0, 0, 0);
  }
  to {
    transform: rotate3d(0, 0, 1, 45deg);
  }
}

@keyframes rotate45ACW {
  from {
    transform: rotate3d(0, 0, 1, 45deg);
  }
  to {
    transform: rotate3d(0, 0, 0);
  }
}

.rotate-45-cw {
  animation: 0.2s 0s rotate45CW;
  animation-fill-mode: forwards;
}

.rotate-45-acw {
  animation: 0.2s 0s rotate45ACW;
  animation-fill-mode: forwards;
}

mat-list-item:hover {
  background-color: rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.filter-list-icon {
  opacity: 0;
}

.hover-show {
  &:hover .filter-list-icon {
    opacity: 1;
  }
}


@keyframes flipOutY {
  from {
    transform: perspective(400px);
  }

  30% {
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1;
  }

  to {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0;
  }
}

.flip-out-y {
  animation-duration: 0.75s;
  backface-visibility: visible !important;
  animation-name: flipOutY;
  animation-fill-mode: forwards;
}

@keyframes flipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

.flip-in-y {
  backface-visibility: visible !important;
  animation-name: flipInY;
  animation-fill-mode: forwards;
}