<div class="container-wrapper">

  <div class="side-card-container mr-2">
    <mat-tab-group class="side-card-wrapper">
      <mat-tab label="Pending (12)">
        <div class="side-card-wrapper" style="cursor:pointer">
          <mat-spinner class="spinner-container" *ngIf="isLoading"></mat-spinner>
          <mat-card class="side-card mb-2" *ngFor="let person of applicantsData" (click)="onClickSideCard(person)">

            <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="space-around space-around" fxLayoutGap="0px" fxLayoutGap.xs="0">
              <div fxFlex="20%" fxFlexAlign="center">
                <img mat-card-avatar src="../../assets/images/circle-person.png" alt="Avatar Photo">
              </div>
              <div fxFlex="50%" fxFlexAlign="stretch">
                <h5> {{person.name}}</h5>
                <div fxLayout fxLayoutAlign="start start" class="mt-1">
                  <mat-icon style="vertical-align:middle" fxFlex="15%">work</mat-icon> &nbsp;
                  <div style="vertical-align:middle" fxFlex>UI / UX</div>
                </div>
                <div fxLayout fxLayoutAlign="start start">
                  <mat-icon class="text-gray" fxFlex="15%">date_range</mat-icon> &nbsp;
                  <div class="text-gray " fxFlex>22/02/2018</div>
                </div>
              </div>

              <div class="spacer"></div>

              <div fxFlex fxFlexAlign="center">
                Pending
              </div>
            </div>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Accepted (54)">
        <div class="side-card-wrapper" style="cursor:pointer">
          <mat-spinner class="spinner-container" *ngIf="isLoading"></mat-spinner>
          <mat-card class="side-card mb-2" *ngFor="let person of applicantsData" (click)="onClickSideCard(person)">

            <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="space-around space-around" fxLayoutGap="0px" fxLayoutGap.xs="0">
              <div fxFlex="20%" fxFlexAlign="center">
                <img mat-card-avatar src="../../assets/images/circle-person.png" alt="Avatar Photo">
              </div>
              <div fxFlex="50%" fxFlexAlign="stretch">
                <h5> {{person.name}}</h5>
                <mat-icon class="mr-3 mt-2 float-left" style="vertical-align:middle">work</mat-icon> &nbsp;
                <div class="float-left mt-2" style="vertical-align:middle">{{person.mobile}}</div>
                <mat-icon class="mr-3 mt-2 float-left text-gray" style="vertical-align:middle">date_range</mat-icon> &nbsp;
                <div class="text-gray mt-2 float-left" style="vertical-align:middle">{{person.mobile}}</div>
              </div>

              <div class="spacer"></div>

              <div fxFlex fxFlexAlign="center">
                Rejected
              </div>
            </div>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Rejected (46)">
        <div class="side-card-wrapper" style="cursor:pointer">
          <mat-spinner class="spinner-container" *ngIf="isLoading"></mat-spinner>
          <mat-card class="side-card mb-2" *ngFor="let person of applicantsData" (click)="onClickSideCard(person)">

            <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="space-around space-around" fxLayoutGap="0px" fxLayoutGap.xs="0">
              <div fxFlex="20%" fxFlexAlign="center">
                <img mat-card-avatar src="../../assets/images/circle-person.png" alt="Avatar Photo">
              </div>
              <div fxFlex="50%" fxFlexAlign="stretch">
                <h5> {{person.name}}</h5>
                <mat-icon class="mr-3 mt-2 float-left" style="vertical-align:middle">work</mat-icon> &nbsp;
                <div class="float-left mt-2" style="vertical-align:middle">{{person.mobile}}</div>
                <mat-icon class="mr-3 mt-2 float-left text-gray" style="vertical-align:middle">date_range</mat-icon> &nbsp;
                <div class="text-gray mt-2 float-left" style="vertical-align:middle">{{person.mobile}}</div>
              </div>

              <div class="spacer"></div>

              <div fxFlex fxFlexAlign="center">
                Accepted
              </div>
            </div>
          </mat-card>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div class="main-card-container mr-1">

    <app-filter [hidden]="!showFilter"></app-filter>

    <mat-card class="main-card" *ngIf="!showFilter" [ngClass]="{'flip-out-y': showFilter}">

      <!-- <button mat-mini-fab class="float-right ml-2 bg-gray">
        <mat-icon>description</mat-icon>
      </button>

      <button mat-mini-fab class="float-right bg-gray">
        <mat-icon>mode_edit</mat-icon>
      </button> -->

      <div fxLayout fxLayoutAlign="start start" fxLayoutGap="20px" fxLayout.md="column" fxLayout.sm = "column" fxLayout.xs = "column">
        <div fxFlex="30%" fxFlexAlign="center" class="mr-3" fxFlex.md="100%" fxFlex.sm="100%">
          <img style="display:block; width:150px; height:150px" src="../../assets/images/circle-person-300.png" alt="Avatar Photo">
        </div>
        <div fxFlex fxFlexAlign="center">
          <h4>{{selectedApplicant.name}}</h4>
          <div fxLayout fxLayoutAlign="start start" class="mt-1">
            <mat-icon style="vertical-align:middle" fxFlex="15%" fxFlex.md = "20%">phone</mat-icon> &nbsp;
            <div style="vertical-align:middle" fxFlex>{{selectedApplicant.mobile}}</div>
          </div>
          <!-- <div fxLayout fxLayoutAlign="start start" class="mt-1">
            <mat-icon style="vertical-align:middle" fxFlex="15%" fxFlex.md = "20%">email</mat-icon> &nbsp;
            <div style="vertical-align:middle" fxFlex>{{selectedApplicant.email}}</div>
          </div> -->
          <div fxLayout fxLayoutAlign="start start" class="mt-1">
            <mat-icon style="vertical-align:middle" fxFlex="15%" fxFlex.md = "20%">language</mat-icon> &nbsp;
            <div style="vertical-align:middle" fxFlex>Malaysian</div>
          </div>
        </div>
      </div>


      <!-- <mat-card-header>
        <mat-card-title>{{selectedApplicant.name}}</mat-card-title>
        <mat-card-subtitle>
          <mat-icon style="vertical-align:middle; margin-top:-5px;" class="mr-2">work</mat-icon>Software Engineer</mat-card-subtitle>
      </mat-card-header>


      <img style="display:block; width:150px; height:150px" src="../../assets/images/circle-person-300.png" alt="Avatar Photo"> -->

      <mat-card-content>

        <div class="content-wrapper" class="mt-5">
          <div class="row-wrapper" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="50">
              <mat-icon>email</mat-icon>
              <p>{{selectedApplicant.email}}</p>
            </div>
            <div fxFlex="50">
              <mat-icon>phone</mat-icon>
              <p>{{selectedApplicant.mobile}}</p>
            </div>
          </div>

          <div class="row-wrapper" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="50">
              <mat-icon>date_range</mat-icon>
              <p>{{selectedApplicant.email}}</p>
            </div>
            <div fxFlex="50">
              <mat-icon>language</mat-icon>
              <p>{{selectedApplicant.mobile}}</p>
            </div>
          </div>

          <div class="row-wrapper" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="50">
              <i class="fa fa-address-book-o fa-normal-size" aria-hidden="true"></i>
              <p>{{'-'}}</p>
            </div>
            <div fxFlex="50">
              <i class="fa fa-university fa-normal-size" aria-hidden="true"></i>
              <p>{{selectedApplicant.mobile}}</p>
            </div>
          </div>

          <div class="row-wrapper" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="50">
              <i class="fa fa-usd fa-normal-size" aria-hidden="true"></i>
              <p>{{selectedApplicant.email}}</p>
            </div>
            <div fxFlex="50">
              <mat-icon>phone</mat-icon>
              <p>{{selectedApplicant.mobile}}</p>
            </div>
          </div>

          <div class="row-wrapper" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="50">
              <mat-icon>email</mat-icon>
              <p>{{selectedApplicant.email}}</p>
            </div>
            <div fxFlex="50">
              <mat-icon>phone</mat-icon>
              <p>{{selectedApplicant.mobile}}</p>
            </div>
          </div>

          <div class="row-wrapper" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="50">
              <mat-icon>email</mat-icon>
              <p>{{selectedApplicant.email}}</p>
            </div>
            <div fxFlex="50">
              <mat-icon>phone</mat-icon>
              <p>{{selectedApplicant.mobile}}</p>
            </div>
          </div>
        </div>


      </mat-card-content>

    </mat-card>
  </div>

  <button mat-fab style="position:fixed; bottom:30px; right:30px" (click)="toggleFilter()" [ngClass]="{'rotate-down':showFilter, 'rotate-up':!showFilter}">
    <i class="fa fa-filter fa-normal-size" aria-hidden="true" [ngClass]="{'fade-out':showFilter}" [hidden]="showFilter"></i>
    <mat-icon [ngClass]="{'fade-in':!showFilter}" [hidden]="!showFilter">close</mat-icon>
  </button>
</div>