<div class="container-wrapper">

  <div class="side-card-container">
    <app-summary-card [data]="applicantsData" (onClickSelected)="onClickApplicant($event)" (onToggleSideNav)="onToggleSideNav($event)"></app-summary-card>
  </div>

  <div class="main-card-container" fxHide.lt-md fxShow>
    <app-detail-card
    [data] = "selectedApplicant"
    ></app-detail-card>
  </div>

  <!-- <button mat-fab style="position:fixed; bottom:30px; right:30px" (click)="toggleFilter()" [ngClass]="{'rotate-down':showFilter, 'rotate-up':!showFilter}">
    <i class="fa fa-filter fa-normal-size" aria-hidden="true" [ngClass]="{'fade-out':showFilter}" [hidden]="showFilter"></i>
    <mat-icon [ngClass]="{'fade-in':!showFilter}" [hidden]="!showFilter">close</mat-icon>
  </button> -->
</div>