@import "../../../assets/scss/color-map.scss";
@import "../applicants.component.scss";


.custom-side-toolbar{
  height:$headerHeight;
  width:100%;
  position:fixed;
  top:0;
  z-index:$leftHeaderZI;
  display: block;
  background:map-get($color-map, "primary-green");

  &+mat-tab-group{
    padding-top:$headerHeight;
    display: block;
    max-height:100%;
    min-width: 300px;
  }
}

.side-card-icon{
  font-size:$iconFS;
}
.side-card-text{
  font-size:$mainCardFS;
}


:host /deep/ .mat-tab-body-wrapper, mat-tab-group{
  height:calc(100% - #{$tabOffset});
}

:host /deep/ .mat-tab-label-active{
  color:map-get($map: $color-map, $key: "accent-primary") !important;
  font-weight:bold;
}

:host /deep/ .mat-tab-labels{
  justify-content:space-around;
}

:host /deep/ .mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus,.mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus{
  background-color:transparent;
}

mat-card{
  margin-bottom:0
}


.side-card-wrapper {
  display: block;
  max-height:100%;
  overflow: auto;
  min-width: 300px;
  min-height: 500px;

  &>mat-card{
    padding:18px 24px;
  }
 
}

.side-card{
  border-top:1px solid map-get($color-map, "divider-gray");
  border-bottom:1px solid map-get($color-map, "divider-gray");
  box-shadow:none !important;
  background-color:map-get($color-map, "background-gray");

  &:hover{
     background-color: #FFF;
  }
}

.tab-active{
  color:map-get($map: $color-map, $key: "accent-primary") !important;
}

.side-card-selected{
  box-shadow: none !important;
  background-color:#fff;
  &::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-color: transparent;
    border-style: solid;
    z-index:10;
  }
  &::after{
    border-radius: 0;
    border-width: 12px;
    border-right-color: map-get($color-map, "accent-light");
    border-bottom-color:map-get($color-map, "accent-light");
    z-index:10;
  }
}


$status: (
   scheduled: #00AEEF,
   onhold: #F7941D,
   shortlisted: #39B54A,
);
.scard-stat{
  width: 10px;
	height: 10px;
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
  border-radius: 5px;
  
  @each $name, $color in $status{
    &--#{$name}{
      background:$color;
    }
  }
}
@each $name, $color in $status{
  .stat-text--#{$name}{
    color:$color !important;
  }
}




mat-list-item:hover {
  background-color: rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.filter-list-icon {
  opacity: 0;
}

.hover-show {
  &:hover .filter-list-icon {
    opacity: 1;
  }
}

