/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~bootstrap/dist/css/bootstrap.min.css";

$gray: rgba(0,0,0,.54);

h1, h2, h3, h4, h5, h6, h7{
  margin:0;
  padding:0;
}

.bg-gray{
  background-color:$gray !important;
}
.text-gray{
  color:$gray !important;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

html {
  height: 100%;
}

button:focus {
  outline: none;
}

.error-snackbar {
  color: #fff;
  background-color: rgba(211, 14, 14, 0.8);
}

.spinner-container {
  margin: 15px auto;
}

.fa-normal-size {
  font-size:24px !important;
}