<!-- <div style = "height:64px" class = "toolbar">
  <mat-toolbar color="primary">
    <span>
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </span>

    <span class="title-spacer"></span>
    <span></span>

    <span class="toolbar-spacer"></span>
    <button mat-icon-button>
      <mat-icon>notifications_none</mat-icon>
    </button>
    <button mat-icon-button [mat-menu-trigger-for]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar> 
   <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon> Logout</button>
  </mat-menu>

  <mat-sidenav-container class="snav-container" [style.marginTop.px]="mobQuery.matches ? 56 : 64">
    <mat-sidenav #snav [mode]="mobQuery.matches? 'over':'side'" opened="false">
      <mat-nav-list>
        <button mat-menu-item style = "color:#fff">
          <mat-icon style = "color:#fff">assignment_ind
          </mat-icon>Dashboard</button>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="sidenav-container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div> -->


<div class="snav-container">

  <mat-sidenav-container class="snav-container">
    <mat-sidenav #snav [mode]="mobQuery.matches? 'over':'side'" opened="false">
      <mat-nav-list style="padding-top:80px">
      
        <mat-list-item style = "color:#fff">
              <mat-icon style = "color:#fff; margin-right:10px">assignment_ind
              </mat-icon>Dashboard
          </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="sidenav-container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>