mat-toolbar {
  justify-content: space-between;
}

// .toolbar:before{
//   content: "";
//   position: absolute;
//   z-index: 0;
//   top: 0;
//   right: 70%;
//   bottom: 0;
//   left: 0;
//   background: red;
//   height:64px;
// }

.toolbar-spacer{
  flex:1 1 auto;
  -ms-flex:1 1 auto;
}
.title-spacer{
  flex:1 1 auto;
}

.snav-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

mat-sidenav {
  width: 180px;
  background-color:rgb(25, 33, 43);
  color:#fff;
}

mat-nav-list {
  color:#fff;
}



.sidenav-container{
    //padding:20px 20px;
    height:100%;
}

mat-list-item{
  border-bottom:1px solid #cdcdcd;
  cursor:pointer;
  color:#fff;

  &>mat-icon{
    margin-right:10px;
  }
  &:first-child{
    border-top:1px solid #cdcdcd;
  }
}



